<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:yo="http://thymeleafexamples" xmlns:ya="">

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Menu</title>
    </head>
    <body>
        <div yo:bluetext >Hello Wordqseq!</div>
        <!--/*@thymesVar id="myVal" type=""*/-->
        <div th:text="${myVal}"></div>
        <yo:iloveyo yo:bluetext yo:text="${myVal}"></yo:iloveyo> <br>
        <yo:iloveyo2 yo:bluetext></yo:iloveyo2>
        <ya:iloveya yo:bluetext ></ya:iloveya>
    </body>
</html>